
:root{
    
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #6870d4; /* Color of links */
    --MAIN-LINK-HOVER-color: #ced057; /* Color of hovered links */
    --MAIN-ANCHOR-color: #75f393; /* color of anchors on titles */

    --MENU-HEADER-BG-color: #c6c6c6; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#999; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #dcdfdf; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #959595; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #61aeee; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#f6f6f6; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #000000; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #1500e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #f6f6f6; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);    
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: normal;
  margin-top: 30px;
  color: #283444;
  text-rendering: optimizelegibility;
  border-bottom: 1px solid #eee;
}

h1,
h2{
  font-size: 1.8em;
}

.article-meta{
  font-size: 0.9em;
  color: #bcc1c4;
  border-left: 3px solid #b4b4b4;
  padding-left: 10px;
}

.article-meta .book a {
  cursor: pointer;
  margin-left: -6px;
  color: inherit;
}



.article-meta .tag a.color3 {
  background: #ba8f6c;
}

 .article-meta .tag a{height:18px;line-height:18px;font-size:0.9em;padding:0 5px 0 10px;color:#fff;position:relative;border-radius:0 5px 5px 0;margin:5px 4px 5px 8px;white-space:nowrap;}
.article-meta .tag a:hover{text-decoration:none;}
.article-meta .tag a:before{content:" ";width:0;height:0;position:absolute;top:0;left:-18px;border:9px solid transparent;border-right-color:#d0d0d0;}
.article-meta .tag a:after{content:" ";width:4px;height:4px;background-color:#fff;border-radius:4px;box-shadow:0 0 0 1px rgba(0,0,0,0.3);position:absolute;top:7px;left:2px;}
.article-meta .tag a.color3{background:#ba8f6c;}
.article-meta .tag a.color3:before{border-right-color:#ba8f6c;}
.article-meta a:hover{text-decoration:underline;}
.article-meta a{color:inherit;text-decoration:none;cursor:pointer;-webkit-transition:color 0.35s;-moz-transition:color 0.35s;-ms-transition:color 0.35s;-o-transition:color 0.35s;transition:color 0.35s;}
@media screen and (max-width: 426px){
   .article-meta .tag a:before{border:7px solid transparent;left:-14px;}
  .article-meta .tag a:after{top:4px;}
}

.article-list-tj{
  max-width: 100%;
  min-height: 1em;
  color: rgb(0, 0, 0);
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  text-align: left;
  white-space: normal;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box !important;
  overflow-wrap: break-word !important;
}