body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.chart-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

td {
    position: relative;
}

.won {
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
}

.les {
    color: rgb(151, 67, 67);
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
}

.rep {
    background-color: #d9534f;
}

.res {
    background-color: rgb(79, 217, 113);
}

.dem {
    background-color: #5bc0de;
}

.bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    position: relative;
}

.bar {
    height: 100%;
}

.bar-rep {
    background-color: #d9534f;
}

.bar-dem {
    background-color: #5bc0de;
}

.bar-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    font-size: 12px;
    white-space: nowrap;
}